# Check Pre-Requisites

In [1]:
%store -r setup_instance_check_passed

In [2]:
try:
    setup_instance_check_passed
except NameError:
    print("+++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL NOTEBOOKS IN THE SETUP FOLDER FIRST. You are missing Instance Check.")
    print("+++++++++++++++++++++++++++++++")

In [3]:
print(setup_instance_check_passed)

True

In [4]:
%store -r setup_dependencies_passed

In [5]:
try:
    setup_dependencies_passed
except NameError:
    print("+++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL NOTEBOOKS IN THE SETUP FOLDER FIRST. You are missing Setup Dependencies.")
    print("+++++++++++++++++++++++++++++++")

In [6]:
print(setup_dependencies_passed)

True

In [7]:
%store -r setup_s3_bucket_passed

In [8]:
try:
    setup_s3_bucket_passed
except NameError:
    print("+++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL NOTEBOOKS IN THE SETUP FOLDER FIRST. You are missing Setup S3 Bucket.")
    print("+++++++++++++++++++++++++++++++")

In [9]:
print(setup_s3_bucket_passed)

True

In [10]:
%store -r setup_iam_roles_passed

In [11]:
try:
    setup_iam_roles_passed
except NameError:
    print("+++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL NOTEBOOKS IN THE SETUP FOLDER FIRST. You are missing Setup IAM Roles.")
    print("+++++++++++++++++++++++++++++++")

In [12]:
print(setup_iam_roles_passed)

True

In [13]:
if not setup_instance_check_passed:
    print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL NOTEBOOKS IN THE SETUP FOLDER FIRST. You are missing Instance Check.")
    print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
if not setup_dependencies_passed:
    print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL NOTEBOOKS IN THE SETUP FOLDER FIRST. You are missing Setup Dependencies.")
    print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
if not setup_s3_bucket_passed:
    print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL NOTEBOOKS IN THE SETUP FOLDER FIRST. You are missing Setup S3 Bucket.")
    print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
if not setup_iam_roles_passed:
    print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL NOTEBOOKS IN THE SETUP FOLDER FIRST. You are missing Setup IAM Roles.")
    print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

In [14]:
import boto3
import sagemaker
import pandas as pd

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name
account_id = boto3.client("sts").get_caller_identity().get("Account")

sm = boto3.Session().client(service_name="sagemaker", region_name=region)

---

# Create Bucket

In [15]:
!aws s3 mb s3://ads-508-team4

make_bucket: ads-508-team4

# Set S3 Source Location (Public S3 Bucket)

In [16]:
s3_public_path_csv = "s3://ads-508-team4/olist/csv"

In [17]:
%store s3_public_path_csv

Stored 's3_public_path_csv' (str)

# Set S3 Destination Location (Our Private S3 Bucket)

In [18]:
s3_private_path_csv = "s3://ads-508-team4/olist/csv".format(bucket)
print(s3_private_path_csv)

s3://ads-508-team4/olist/csv

In [19]:
%store s3_private_path_csv

Stored 's3_private_path_csv' (str)

# Create folders for each datasets
#### Total 4 datasets for the project

1. olist_customers_dataset.csv

In [262]:
s3_cust_path_csv = "s3://ads-508-team4/olist/csv/cust".format(bucket)
print(s3_cust_path_csv)

s3://ads-508-team4/olist/csv/cust

2. olist_order_items_dataset.csv

In [273]:
s3_order_items_path_csv = "s3://ads-508-team4/olist/csv/order_items".format(bucket)
print(s3_order_items_path_csv)

s3://ads-508-team4/olist/csv/order_items

3. olist_orders_dataset.csv

In [275]:
s3_order_path_csv = "s3://ads-508-team4/olist/csv/order".format(bucket)
print(s3_order_path_csv)

s3://ads-508-team4/olist/csv/order

4. olist_products_dataset.csv

In [277]:
s3_products_path_csv = "s3://ads-508-team4/olist/csv/products".format(bucket)
print(s3_products_path_csv)

s3://ads-508-team4/olist/csv/products

## --- Dataset Manually Uploaded ---

# List Folders in our Private S3 Bucket in this Account

In [280]:
!aws s3 ls $s3_private_path_csv/

                           PRE cust/
                           PRE order/
                           PRE order_items/
                           PRE products/

In [21]:
from IPython.core.display import display, HTML

display(
    HTML(
        '<b>Review <a target="blank" href="https://s3.console.aws.amazon.com/s3/buckets/ads-508-team4/olist/csv/?region={}&tab=overview">S3 Bucket</a></b>'.format(
            region, account_id, region
        )
    )
)

# Store Variables for the Next Notebooks

In [281]:
%store

Stored variables and their in-db values:
balanced_bias_data_jsonlines_s3_uri                   -> 's3://sagemaker-us-east-1-816811754200/bias-detect
balanced_bias_data_s3_uri                             -> 's3://sagemaker-us-east-1-816811754200/bias-detect
bias_data_s3_uri                                      -> 's3://sagemaker-us-east-1-816811754200/bias-detect
ingest_create_athena_db_passed                        -> True
ingest_create_athena_table_csv_passed                 -> True
ingest_create_athena_table_parquet_passed             -> True
ingest_create_athena_table_tsv_passed                 -> True
s3_private_path_csv                                   -> 's3://ads-508-team4/olist/csv'
s3_private_path_tsv                                   -> 's3://sagemaker-us-east-1-816811754200/amazon-revi
s3_public_path_csv                                    -> 's3://ads-508-team4/olist/csv'
s3_public_path_tsv                                    -> 's3://amazon-reviews-pds/tsv'
setup_dependencies_passed                             -> True
setup_iam_roles_passed                                -> True
setup_instance_check_passed                           -> True
setup_s3_bucket_passed                                -> True

---

# Create Athena Database Schema

In [23]:
import boto3
import sagemaker

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [24]:
ingest_create_athena_db_passed = False

In [25]:
%store -r s3_public_path_csv

In [26]:
try:
    s3_public_path_csv
except NameError:
    print("*****************************************************************************")
    print("[ERROR] PLEASE RE-RUN THE PREVIOUS COPY TSV TO S3 NOTEBOOK ******************")
    print("[ERROR] THIS NOTEBOOK WILL NOT RUN PROPERLY. ********************************")
    print("*****************************************************************************")

In [27]:
print(s3_public_path_csv)

s3://ads-508-team4/olist/csv

In [28]:
%store -r s3_private_path_csv

In [29]:
try:
    s3_private_path_csv
except NameError:
    print("*****************************************************************************")
    print("[ERROR] PLEASE RE-RUN THE PREVIOUS COPY TSV TO S3 NOTEBOOK ******************")
    print("[ERROR] THIS NOTEBOOK WILL NOT RUN PROPERLY. ********************************")
    print("*****************************************************************************")

In [30]:
print(s3_private_path_csv)

s3://ads-508-team4/olist/csv

# Import PyAthena

In [69]:
# !pip install --disable-pip-version-check -q PyAthena==2.1.0

/opt/conda/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [31]:
from pyathena import connect

In [282]:
database_name = "olist"

In [283]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://ads-508-team4/athena/staging".format(bucket)

In [284]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [285]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS olist

In [286]:
import pandas as pd

pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

# Verify The Database Has Been Created Succesfully

In [287]:
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

  database_name
0       default
1        dsoaws
2         olist

In [288]:
if database_name in df_show.values:
    ingest_create_athena_db_passed = True

In [289]:
%store ingest_create_athena_db_passed

Stored 'ingest_create_athena_db_passed' (bool)

# Store Variables for the Next Notebooks

In [44]:
%store

Stored variables and their in-db values:
balanced_bias_data_jsonlines_s3_uri                   -> 's3://sagemaker-us-east-1-816811754200/bias-detect
balanced_bias_data_s3_uri                             -> 's3://sagemaker-us-east-1-816811754200/bias-detect
bias_data_s3_uri                                      -> 's3://sagemaker-us-east-1-816811754200/bias-detect
ingest_create_athena_db_passed                        -> True
ingest_create_athena_table_parquet_passed             -> True
ingest_create_athena_table_tsv_passed                 -> True
s3_private_path_csv                                   -> 's3://ads-508-team4/olist/csv'
s3_private_path_tsv                                   -> 's3://sagemaker-us-east-1-816811754200/amazon-revi
s3_public_path_csv                                    -> 's3://ads-508-team4/olist/csv'
s3_public_path_tsv                                    -> 's3://amazon-reviews-pds/tsv'
setup_dependencies_passed                             -> True
setup_iam_roles_passed                                -> True
setup_instance_check_passed                           -> True
setup_s3_bucket_passed                                -> True

---

# Register TSV Data With Athena

In [84]:
import boto3
import sagemaker
import pandas as pd

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [367]:
ingest_create_athena_table_csv_passed = False

In [48]:
%store -r ingest_create_athena_db_passed

In [49]:
try:
    ingest_create_athena_db_passed
except NameError:
    print("++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not create the Athena Database.")
    print("++++++++++++++++++++++++++++++++++++++++++++++")

In [50]:
print(ingest_create_athena_db_passed)

True

In [51]:
if not ingest_create_athena_db_passed:
    print("++++++++++++++++++++++++++++++++++++++++++++++")
    print("[ERROR] YOU HAVE TO RUN ALL PREVIOUS NOTEBOOKS.  You did not create the Athena Database.")
    print("++++++++++++++++++++++++++++++++++++++++++++++")
else:
    print("[OK]")

[OK]

In [52]:
%store -r s3_private_path_csv

In [290]:
print(s3_private_path_csv)

s3://ads-508-team4/olist/csv

# Create Athena Table from Local CSV Files

In [291]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://ads-508-team4/athena/staging".format(bucket)

In [370]:
# Set Athena parameters
    # database name
database_name = "olist"
    # table names
cust_table_name = "olist_customers_dataset"
order_items_table_name = "olist_order_items_dataset"
order_table_name = "olist_order_dataset"
products_table_name = "olist_products_dataset"

In [296]:
conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

In [328]:
print(s3_cust_path_csv)
print(s3_order_items_path_csv)
print(s3_order_path_csv)
print(s3_products_path_csv)

s3://ads-508-team4/olist/csv/cust
s3://ads-508-team4/olist/csv/order_items
s3://ads-508-team4/olist/csv/order
s3://ads-508-team4/olist/csv/products

## 1. Table for olist_customers_dataset

In [321]:
create_cust_tb = """

CREATE EXTERNAL TABLE IF NOT EXISTS  {}.{}
(
         customer_id                  string,
         customer_unique_id           string,
         customer_zip_code_prefix     string,
         customer_city                string,
         customer_state               string
)  

ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' 
LINES TERMINATED BY '\\n' 
STORED AS TEXTFILE
LOCATION  '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

""".format(database_name, cust_table_name, s3_cust_path_csv)

pd.read_sql(create_cust_tb, conn)

Empty DataFrame
Columns: []
Index: []

### Verify The Table Has Been Created Succesfully

In [333]:
pd.read_sql("""SELECT * FROM olist.olist_customers_dataset LIMIT 10 """, conn)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,"""06b8999e2fba1a1fbc88172c00ba8bc7""","""861eff4711a542e4b93843c6dd7febb0""","""14409""",franca,SP
1,"""18955e83d337fd6b2def6b18a428ac77""","""290c77bc529b7ac935b93aa66c333dc3""","""09790""",sao bernardo do campo,SP
2,"""4e7b3e00288586ebd08712fdd0374a03""","""060e732b5b29e8181a18229c7b0b2b5e""","""01151""",sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,"""259dac757896d24d7702b9acbbff3f3c""","""08775""",mogi das cruzes,SP
4,"""4f2d8ab171c80ec8364f7c12e35b23ad""","""345ecd01c38d18a9036ed96c73b8d066""","""13056""",campinas,SP
5,"""879864dab9bc3047522c92c82e1212b8""","""4c93744516667ad3b8f1fb645a3116a4""","""89254""",jaragua do sul,SC
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,"""04534""",sao paulo,SP
7,"""5e274e7a0c3809e14aba7ad5aae0d407""","""57b2a98a409812fe9618067b6b8ebe4f""","""35182""",timoteo,MG
8,"""5adf08e34b2e993982a47070956c5c65""","""1175e95fb47ddff9de6b2b06188f7e0d""","""81560""",curitiba,PR
9,"""4b7139f34592b3a31687243a302fa75b""","""9afe194fb833f79e300e37e580171f22""","""30575""",belo horizonte,MG

In [323]:
pd.read_sql("""select count(customer_id) from olist.olist_customers_dataset """, conn)

   _col0
0  99441

## 2. Table for order_items_table_name

In [337]:
create_order_items_tb = """
CREATE EXTERNAL TABLE IF NOT EXISTS  {}.{}
(
         order_id                string,
         order_item_id           string,
         product_id              string,
         seller_id               string,
         shipping_limit_date     timestamp,
         price                   decimal(10,2),
         freight_value           decimal(10,2)
)  

ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' 
LINES TERMINATED BY '\\n' 
STORED AS TEXTFILE
LOCATION  '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

""".format(database_name, order_items_table_name, s3_order_items_path_csv)

pd.read_sql(create_order_items_tb, conn)

Empty DataFrame
Columns: []
Index: []

### Verify The Table Has Been Created Succesfully

In [338]:
pd.read_sql("""SELECT * FROM olist.olist_order_items_dataset LIMIT 10 """, conn)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,"""00010242fe8c5a6d1ba2dd792cb16214""",1,"""4244733e06e7ecb4970a6e2683c13e61""","""48436dade18ac8b2bce089ec2a041202""",2017-09-19 09:45:35,58.90,13.29
1,"""00018f77f2f0320c557190d7a144bdd3""",1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,"""000229ec398224ef6ca0657da4fc703e""",1,c777355d18b72b67abbeef9df44fd0fd,"""5b51032eddd242adc84c38acab88f23d""",2018-01-18 14:48:30,199.00,17.87
3,"""00024acbcdf0a6daa1e931b038114c75""",1,"""7634da152a4610f1595efa32f14722fc""","""9d7a1d34a5052409006425275ba1c2b4""",2018-08-15 10:10:18,12.99,12.79
4,"""00042b26cf59d7ce69dfabb4e55b4fd9""",1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,"""00048cc3ae777c65dbb7d2a0634bc1ea""",1,ef92defde845ab8450f9d70c526ef70f,"""6426d21aca402a131fc0a5d0960a3c90""",2017-05-23 03:55:27,21.90,12.69
6,"""00054e8431b9d7675808bcb819fb4a32""",1,"""8d4f2bb7e93e6710a28f34fa83ee7d28""","""7040e82f899a04d1b434b795a43b4617""",2017-12-14 12:10:31,19.90,11.85
7,"""000576fe39319847cbb9d288c5617fa6""",1,"""557d850972a7d6f792fd18ae1400d9b6""","""5996cddab893a4652a15592fb58ab8db""",2018-07-10 12:30:45,810.00,70.75
8,"""0005a1a1728c9d785b8e2b08b904576c""",1,"""310ae3c140ff94b03219ad0adc3c778f""",a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,"""0005f50442cb953dcd1d21e1fb923495""",1,"""4535b0e1091c278dfd193e5a1d63b39f""",ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40

In [339]:
pd.read_sql("""select count(*) from olist.olist_order_items_dataset """, conn)

    _col0
0  112650

## 3. Table for olist_orders_dataset

In [341]:
create_order_tb = """
CREATE EXTERNAL TABLE IF NOT EXISTS  {}.{}
(
         order_id                       string,
         customer_id                    string,
         order_status                   string,
         order_purchase_timestamp       timestamp,
         order_approved_at              timestamp,
         order_delivered_carrier_date   timestamp,
         order_delivered_customer_date  timestamp,
         order_estimated_delivery_date  timestamp
)  

ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' 
LINES TERMINATED BY '\\n' 
STORED AS TEXTFILE
LOCATION  '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

""".format(database_name, order_table_name, s3_order_path_csv)

pd.read_sql(create_order_tb, conn)

Empty DataFrame
Columns: []
Index: []

### Verify The Table Has Been Created Succesfully

In [344]:
pd.read_sql("""SELECT * FROM olist.olist_order_dataset LIMIT 10 """, conn)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,"""9ef432eb6251297304e76186b10a928d""",delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,"""53cdb2fc8bc7dce0b6741e2150273451""",b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,"""47770eb9100c2d0c44946d9cf07ec65d""","""41ce2a54c0b03bf3443c3d931a367089""",delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,"""949d5b44dbf5de918fe9c16f97b45f8a""",f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,"""8ab97904e6daea8866dbdbc4fb7aad2c""",delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
5,a4591c265e18cb1dcee52889e2d8acc3,"""503740e9ca751ccdda7ba28e9ab8f608""",delivered,2017-07-09 21:57:05,2017-07-09 22:10:13,2017-07-11 14:58:04,2017-07-26 10:57:55,2017-08-01
6,"""136cce7faa42fdb2cefd53fdc79a6098""",ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,NaT,2017-05-09
7,"""6514b8ad8028c9f2cc2374ded245783f""","""9bdf08b4b3b52b5526ff42d37d47f222""",delivered,2017-05-16 13:10:30,2017-05-16 13:22:11,2017-05-22 10:07:46,2017-05-26 12:55:51,2017-06-07
8,"""76c6e866289321a7c93b82b54852dc33""",f54a9f0e6b351c431402b8461ea51999,delivered,2017-01-23 18:29:09,2017-01-25 02:50:47,2017-01-26 14:16:31,2017-02-02 14:08:10,2017-03-06
9,e69bfb5eb88e0ed6a785585b27e16dbf,"""31ad1d1b63eb9962463f764d4e6e0c9d""",delivered,2017-07-29 11:55:02,2017-07-29 12:05:32,2017-08-10 19:45:24,2017-08-16 17:14:30,2017-08-23

In [345]:
pd.read_sql("""select count(*) from olist.olist_order_dataset """, conn)

   _col0
0  99441

## 4. Table for olist_products_dataset

In [346]:
create_products_tb = """
CREATE EXTERNAL TABLE IF NOT EXISTS  {}.{}
(
         product_id                   string,
         product_category_name        string,
         product_name_lenght          int,
         product_description_lenght   int,
         product_photos_qty           int,
         product_weight_g             int,
         product_length_cm            int,
         product_height_cm            int,
         product_width_cm             int
)  

ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' 
LINES TERMINATED BY '\\n' 
STORED AS TEXTFILE
LOCATION  '{}'
TBLPROPERTIES ('compressionType'='gzip', 'skip.header.line.count'='1')

""".format(database_name, products_table_name, s3_products_path_csv)

pd.read_sql(create_products_tb, conn)

Empty DataFrame
Columns: []
Index: []

### Verify The Table Has Been Created Succesfully

In [348]:
pd.read_sql("""SELECT * FROM olist.olist_products_dataset LIMIT 10 """, conn)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,"""1e9e8ef04dbcff4541ed26657ea517e5""",perfumaria,40,287,1,225,16,10,14
1,"""3aa071139cb16b67ca9e5dea641aaa2f""",artes,44,276,1,1000,30,18,20
2,"""96bd76ec8810374ed1b65e291975717f""",esporte_lazer,46,250,1,154,18,9,15
3,cef67bcfe19066a932b7673e239eb23d,bebes,27,261,1,371,26,4,26
4,"""9dc1a7de274444849c219cff195d0b71""",utilidades_domesticas,37,402,4,625,20,17,13
5,"""41d3672d4792049fa1779bb35283ed13""",instrumentos_musicais,60,745,1,200,38,5,11
6,"""732bd381ad09e530fe0a5f457d81becb""",cool_stuff,56,1272,4,18350,70,24,44
7,"""2548af3e6e77a690cf3eb6368e9ab61e""",moveis_decoracao,56,184,2,900,40,8,40
8,"""37cc742be07708b53a98702e77a21a02""",eletrodomesticos,57,163,1,400,27,13,17
9,"""8c92109888e8cdf9d66dc7e463025574""",brinquedos,36,1156,1,600,17,10,12

In [349]:
pd.read_sql("""select count(*) from olist.olist_products_dataset """, conn)

   _col0
0  32951

# Review the New Athena Table in the Glue Catalog

In [350]:
from IPython.core.display import display, HTML

display(
    HTML(
        '<b>Review <a target="top" href="https://console.aws.amazon.com/glue/home?region={}#">AWS Glue Catalog</a></b>'.format(
            region
        )
    )
)

# Store Variables for the Next Notebooks

In [373]:
%store

Stored variables and their in-db values:
balanced_bias_data_jsonlines_s3_uri                   -> 's3://sagemaker-us-east-1-816811754200/bias-detect
balanced_bias_data_s3_uri                             -> 's3://sagemaker-us-east-1-816811754200/bias-detect
bias_data_s3_uri                                      -> 's3://sagemaker-us-east-1-816811754200/bias-detect
ingest_create_athena_db_passed                        -> True
ingest_create_athena_table_csv_passed                 -> True
ingest_create_athena_table_parquet_passed             -> True
ingest_create_athena_table_tsv_passed                 -> True
s3_private_path_csv                                   -> 's3://ads-508-team4/olist/csv'
s3_private_path_tsv                                   -> 's3://sagemaker-us-east-1-816811754200/amazon-revi
s3_public_path_csv                                    -> 's3://ads-508-team4/olist/csv'
s3_public_path_tsv                                    -> 's3://amazon-reviews-pds/tsv'
setup_dependencies_passed                             -> True
setup_iam_roles_passed                                -> True
setup_instance_check_passed                           -> True
setup_s3_bucket_passed                                -> True

In [374]:
%%html

<p><b>Shutting down your kernel for this notebook to release resources.</b></p>
<button class="sm-command-button" data-commandlinker-command="kernelmenu:shutdown" style="display:none;">Shutdown Kernel</button>
        
<script>
try {
    els = document.getElementsByClassName("sm-command-button");
    els[0].click();
}
catch(err) {
    // NoOp
}    
</script>

In [ ]:
%%javascript

try {
    Jupyter.notebook.save_checkpoint();
    Jupyter.notebook.session.delete();
}
catch(err) {
    // NoOp
}