# Prepare Dataset for Bias Analysis

In [70]:
import boto3
import sagemaker
import pandas as pd

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [71]:
!aws s3 cp 's3://ads-508-team4/olist/csv/cust/olist_customers_dataset.csv' ./data-clarify/
!aws s3 cp 's3://ads-508-team4/olist/csv/order_items/olist_order_items_dataset.csv' ./data-clarify/
!aws s3 cp 's3://ads-508-team4/olist/csv/order/olist_orders_dataset.csv' ./data-clarify/
!aws s3 cp 's3://ads-508-team4/olist/csv/products/olist_products_dataset.csv' ./data-clarify/

download: s3://ads-508-team4/olist/csv/cust/olist_customers_dataset.csv to data-clarify/olist_customers_dataset.csv
download: s3://ads-508-team4/olist/csv/order_items/olist_order_items_dataset.csv to data-clarify/olist_order_items_dataset.csv
download: s3://ads-508-team4/olist/csv/order/olist_orders_dataset.csv to data-clarify/olist_orders_dataset.csv
download: s3://ads-508-team4/olist/csv/products/olist_products_dataset.csv to data-clarify/olist_products_dataset.csv

In [72]:
import csv

df_cust = pd.read_csv(
    "./data-clarify/olist_customers_dataset.csv",
    delimiter=",",
    quoting=csv.QUOTE_NONE
)
df_cust.shape
df_cust.head()

,"""customer_id""","""customer_unique_id""","""customer_zip_code_prefix""","""customer_city""","""customer_state"""
0,"""06b8999e2fba1a1fbc88172c00ba8bc7""","""861eff4711a542e4b93843c6dd7febb0""","""14409""",franca,SP
1,"""18955e83d337fd6b2def6b18a428ac77""","""290c77bc529b7ac935b93aa66c333dc3""","""09790""",sao bernardo do campo,SP
2,"""4e7b3e00288586ebd08712fdd0374a03""","""060e732b5b29e8181a18229c7b0b2b5e""","""01151""",sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,"""259dac757896d24d7702b9acbbff3f3c""","""08775""",mogi das cruzes,SP
4,"""4f2d8ab171c80ec8364f7c12e35b23ad""","""345ecd01c38d18a9036ed96c73b8d066""","""13056""",campinas,SP

In [73]:
order_items = pd.read_csv(
    "./data-clarify/olist_order_items_dataset.csv",
    delimiter=",",
    quoting=csv.QUOTE_NONE
)
order_items.shape
order_items.head()

,"""order_id""","""order_item_id""","""product_id""","""seller_id""","""shipping_limit_date""","""price""","""freight_value"""
0,"""00010242fe8c5a6d1ba2dd792cb16214""",1,"""4244733e06e7ecb4970a6e2683c13e61""","""48436dade18ac8b2bce089ec2a041202""",2017-09-19 09:45:35,58.90,13.29
1,"""00018f77f2f0320c557190d7a144bdd3""",1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,"""000229ec398224ef6ca0657da4fc703e""",1,c777355d18b72b67abbeef9df44fd0fd,"""5b51032eddd242adc84c38acab88f23d""",2018-01-18 14:48:30,199.00,17.87
3,"""00024acbcdf0a6daa1e931b038114c75""",1,"""7634da152a4610f1595efa32f14722fc""","""9d7a1d34a5052409006425275ba1c2b4""",2018-08-15 10:10:18,12.99,12.79
4,"""00042b26cf59d7ce69dfabb4e55b4fd9""",1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [74]:
order = pd.read_csv(
    "./data-clarify/olist_orders_dataset.csv",
    delimiter=",",
    quoting=csv.QUOTE_NONE
)
order.shape
order.head()

,"""order_id""","""customer_id""","""order_status""","""order_purchase_timestamp""","""order_approved_at""","""order_delivered_carrier_date""","""order_delivered_customer_date""","""order_estimated_delivery_date"""
0,e481f51cbdc54678b7cc49136f2d6af7,"""9ef432eb6251297304e76186b10a928d""",delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,"""53cdb2fc8bc7dce0b6741e2150273451""",b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,"""47770eb9100c2d0c44946d9cf07ec65d""","""41ce2a54c0b03bf3443c3d931a367089""",delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,"""949d5b44dbf5de918fe9c16f97b45f8a""",f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,"""8ab97904e6daea8866dbdbc4fb7aad2c""",delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [75]:
prod = pd.read_csv(
    "./data-clarify/olist_products_dataset.csv",
    delimiter=",",
    quoting=csv.QUOTE_NONE
)
prod.shape
prod.head()

,"""product_id""","""product_category_name""","""product_name_lenght""","""product_description_lenght""","""product_photos_qty""","""product_weight_g""","""product_length_cm""","""product_height_cm""","""product_width_cm"""
0,"""1e9e8ef04dbcff4541ed26657ea517e5""",perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,"""3aa071139cb16b67ca9e5dea641aaa2f""",artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,"""96bd76ec8810374ed1b65e291975717f""",esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,"""9dc1a7de274444849c219cff195d0b71""",utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

# Combine Dataframe

In [76]:
df1 = df_cust.merge(order, how='outer', on='"customer_id"')

In [77]:
df2 = df1.merge(order_items, how='outer', on='"order_id"')

In [78]:
df3 = df2.merge(prod, how='outer', on='"product_id"' )

In [79]:
df3.head()

,"""customer_id""","""customer_unique_id""","""customer_zip_code_prefix""","""customer_city""","""customer_state""","""order_id""","""order_status""","""order_purchase_timestamp""","""order_approved_at""","""order_delivered_carrier_date""",...,"""price""","""freight_value""","""product_category_name""","""product_name_lenght""","""product_description_lenght""","""product_photos_qty""","""product_weight_g""","""product_length_cm""","""product_height_cm""","""product_width_cm"""
0,"""06b8999e2fba1a1fbc88172c00ba8bc7""","""861eff4711a542e4b93843c6dd7febb0""","""14409""",franca,SP,"""00e7ee1b050b8499577073aeb2a297a1""",delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,124.99,21.88,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
1,"""8912fc0c3bbf1e2fbf35819e21706718""","""9eae34bbd3a474ec5d07949ca7de67c0""","""68030""",santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,...,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
2,"""8912fc0c3bbf1e2fbf35819e21706718""","""9eae34bbd3a474ec5d07949ca7de67c0""","""68030""",santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,...,112.99,24.90,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
3,f0ac8e5a239118859b1734e1087cbb1f,"""3c799d181c34d51f6d44bbbc563024db""","""92480""",nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,...,124.99,15.62,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
4,"""6bc8d08963a135220ed6c6d098831f84""","""23397e992b09769faf5e66f9e171a241""","""25931""",mage,RJ,"""2e604b3614664aa66867856dba7e61b7""",delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,...,106.99,30.59,moveis_escritorio,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0

# Balance the Dataset by Product Category and Price

In [80]:
df_grouped_by = df3.groupby(['"product_category_name"', '"price"'])[['"product_category_name"', '"price"']]
df_balanced = df_grouped_by.apply(lambda x: x.sample(df_grouped_by.size().min()).reset_index(drop=True))
df_balanced.shape

(17472, 2)

### Unbalanced label classes

In [81]:
path = "./data-clarify/master_unbal.csv"
df3.to_csv(path, index=False, header=True)

### Balanced label classes

In [82]:
path_balanced = "./data-clarify/master_bal.csv"
df_balanced.to_csv(path_balanced, index=False, header=True)

### Write as JSONLINES

In [83]:
path_jsonlines = "./data-clarify/master_bal.jsonl"
df_balanced.to_json(path_or_buf=path_jsonlines, orient="records", lines=True)

# Upload Train Data to S3¶

In [84]:
import time

timestamp = int(time.time())

bias_data_s3_uri = sess.upload_data(bucket="ads-508-team4", key_prefix="bias-detection-{}".format(timestamp), path=path)
bias_data_s3_uri

's3://ads-508-team4/bias-detection-1647856853/master_unbal.csv'

In [85]:
!aws s3 ls $bias_data_s3_uri

2022-03-21 10:00:54   46011212 master_unbal.csv

In [86]:
balanced_bias_data_s3_uri = sess.upload_data(
    bucket="ads-508-team4", key_prefix="bias-detection-{}".format(timestamp), path=path_balanced
)
balanced_bias_data_s3_uri

's3://ads-508-team4/bias-detection-1647856853/master_bal.csv'

In [87]:
!aws s3 ls $balanced_bias_data_s3_uri

2022-03-21 10:00:56     387506 master_bal.csv

In [88]:
balanced_bias_data_jsonlines_s3_uri = sess.upload_data(
    bucket="ads-508-team4", key_prefix="bias-detection-{}".format(timestamp), path=path_jsonlines
)
balanced_bias_data_jsonlines_s3_uri

's3://ads-508-team4/bias-detection-1647856853/master_bal.jsonl'

In [89]:
!aws s3 ls $balanced_bias_data_jsonlines_s3_uri

2022-03-21 10:00:57    1156233 master_bal.jsonl

# Store Variables for Next Notebook(s)

In [90]:
%store balanced_bias_data_jsonlines_s3_uri

Stored 'balanced_bias_data_jsonlines_s3_uri' (str)

In [91]:
%store balanced_bias_data_s3_uri

Stored 'balanced_bias_data_s3_uri' (str)

In [92]:
%store bias_data_s3_uri

Stored 'bias_data_s3_uri' (str)

In [93]:
%store

Stored variables and their in-db values:
balanced_bias_data_jsonlines_s3_uri                   -> 's3://ads-508-team4/bias-detection-1647856853/mast
balanced_bias_data_s3_uri                             -> 's3://ads-508-team4/bias-detection-1647856853/mast
bias_data_s3_uri                                      -> 's3://ads-508-team4/bias-detection-1647856853/mast
ingest_create_athena_db_passed                        -> True
ingest_create_athena_table_csv_passed                 -> True
ingest_create_athena_table_parquet_passed             -> True
ingest_create_athena_table_tsv_passed                 -> True
s3_private_path_csv                                   -> 's3://ads-508-team4/olist/csv'
s3_private_path_tsv                                   -> 's3://sagemaker-us-east-1-816811754200/amazon-revi
s3_public_path_csv                                    -> 's3://ads-508-team4/olist/csv'
s3_public_path_tsv                                    -> 's3://amazon-reviews-pds/tsv'
setup_dependencies_passed                             -> True
setup_iam_roles_passed                                -> True
setup_instance_check_passed                           -> True
setup_s3_bucket_passed                                -> True